.ecom-page-navigation {
  &--standard {
    --page-end-button-bg: rgb(254, 153, 0);
    --page-end-min-height-sm: 10rem;
    --page-end-min-height-md: 14rem;
    --page-end-border-radius: 3rem;
  }
}
